

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.padding-horizontal-0 {
    padding-right:0 !important;
    padding-left:0 !important;
}
   header.site-header {
    height: auto;
    float: left;
    width: 100%;
    background: #ffffff;
}

.site-logo img {
    height: 70px;
}
div#collapsibleNavbar {
    background: #201b21;
    height: 100%;
    /*padding: 20px 0;*/
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 28px;
    padding-bottom: 28px;
    color: #ffffff;
}
.navbar {
padding: 0;
}
ul.navbar-nav li a.active {
    color: #fff;
    background-color: #ffab00;
}


#owl-demo .owl-prev {
    top: 40%;
    position: absolute;
    margin-bottom: -50%;
    font-size: 2em;
    left: 0;
}
#owl-demo .owl-next {
    top: 40%;
    position: absolute;
    margin-bottom: -50%;
    font-size: 2em;
    right: 0;
}
a.navbar-brand {
    background: #ffffff;
    margin-right: 0;
    padding: 0.3rem 2rem;
}
.card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: 0 25%;
}
.card{
    border: none;
}
.card1 .card-img-holder {
    position: relative;
    background: #00fda1;
}
.card1 {
    border:1px solid #00fda1;
}
.card1 .card-img-top{
    mix-blend-mode: multiply;
}

.card2 .card-img-holder {
    position: relative;
    background: #0595f3;
}
.card2 {
    border:1px solid #1C79B6;
}
.card2 .card-img-top{
    mix-blend-mode: multiply;
}

.card3 .card-img-holder {
    position: relative;
    background: #FFAB00;
}
.card3 {
    border:1px solid #FFAB00;
}
.card3 .card-img-top{
    mix-blend-mode: multiply;
}
.Aboutwrapper {
    padding: 100px 0;
}
.about-brief {
    padding-bottom: 30px;
}
.Company-wrapper {
    background: #E9ECEF;
    padding: 100px 0;
}
.hp-icon-wrapper img {
    width: 50%;
}
.company-icon-wrapper {
    background: radial-gradient(rgba(150, 149, 149, 0.85),rgb(0, 36, 68));
    background-size: contain;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-desc {
    padding: 20px;
    background: #f1f1f1;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
}

.unity-icon-wrapper img {
    width: 50%;
}
h2.section-heading {
    padding-bottom: 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #ffab00;
}

h2.section-heading:after, h2.section-heading:before {
    content: "\A";
    width: 15%;
    height: 3px;
    border-radius: 0;
    background: #bd7f01;
    display: inline-block;
    margin: 0 10px;
    top: -12px;
    position: relative;
}
h2.section-heading span {
    font-weight: bold;
    color: #eca002;
    font-style: italic;
    font-size: 1.2em;
}
.partners-wrapper {
    padding:100px 0;
}
#owl-demo-02 .item{
  margin: 3px;
}
#owl-demo-02 .item img {
    display: block;
    width: auto;
    height: 100px;
    margin: 0 auto;
}
#owl-demo-02 .item {
    background: rgba(0,0,0,0.05);
    padding: 20px;
}
#owl-demo-02 .owl-prev {
    top: 25%;
    position: absolute;
    font-size: 2em;
    left: -7%;
}
#owl-demo-02 .owl-next {
    top: 25%;
    position: absolute;
    font-size: 2em;
    right: -7%;
}



#owl-demo-03 .item{
  margin: 3px;
}
/*#owl-demo-03 .item img {
    display: block;
    width: auto;
    height: 100px;
    margin: 0 auto;
}*/
#owl-demo-03 .item {
    background: rgba(0,0,0,0.03);
    padding: 20px;
}
#owl-demo-03 .owl-prev {
    bottom: -52px;
    position: absolute;
    font-size: 2em;
    left: 45.5%;
}
#owl-demo-03 .owl-next {
    bottom: -52px;
    position: absolute;
    font-size: 2em;
    right: 45.5%;
}



.vr-education-sec-01,
.vr-education-sec-03 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #ffffff;
    flex-direction: row;
    margin-bottom: 20px;
}
.vr-education-sec-01 .vr-education-left,
.vr-education-sec-03 .vr-education-left {
    margin-right: auto;
    width: 50%;
    background: #FFAB00;
}
.vr-education-sec-01 .vr-education-left img,
.vr-education-sec-03 .vr-education-left img {
        mix-blend-mode: multiply;
}
.vr-education-sec-01 .vr-education-right,
.vr-education-sec-03 .vr-education-right {
    width: 50%;
    padding: 20px;
    align-self: center;
    background: #ffffff;
    position: relative;
    left: -10%;
    height: auto;
}
.vr-education-wrapper {
    padding: 100px 0;
    background: #e9ecef;
}
.vr-education-right h4 {
    font-size: 2em;
    color: #ffab00;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.vr-education-sec-01 .vr-education-right:after,
.vr-education-sec-03 .vr-education-right:after {
    background: #f3efea;
    position: absolute;
    left: 100%;
    width: 50px;
    content: "";
    height: 100%;
    top: 0;
}
.vr-education-right p {
    font-size: 1.2em;
}

.vr-education-sec-02 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #ffffff;
    flex-direction: row-reverse;
    text-align: right;
    margin-bottom: 20px;
}
.vr-education-sec-04 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #ffffff;
    flex-direction: row-reverse;
    text-align: right;
    margin-bottom: 0;
}
.vr-education-sec-02 .vr-education-left,
.vr-education-sec-04 .vr-education-left {
    margin-right: auto;
    width: 50%;
    background: #FFAB00;
}
.vr-education-sec-02 .vr-education-left img,
.vr-education-sec-04 .vr-education-left img {
        mix-blend-mode: multiply;
}
.vr-education-sec-02 .vr-education-right,
.vr-education-sec-04 .vr-education-right {
    width: 50%;
    padding: 20px;
    align-self: center;
    background: #ffffff;
    position: relative;
    right: -10%;
    height: auto;
}
.vr-education-sec-02 .vr-education-right:after,
.vr-education-sec-04 .vr-education-right:after {
    background: #f3efea;
    position: absolute;
    right: 100%;
    width: 50px;
    content: "";
    height: 100%;
    top: 0;
}
.about-brief h2 {
    padding-bottom: 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #ffab00;
}
.about-brief p{
font-size: 1.2em;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
    background-color: #ffab00;
    color: #ffffff;
}
.navbar-expand-md .navbar-nav .nav-link {
    transition: 0.3s;
}

.testimonial-person {
    display: flex;
    justify-content: center;
}

.testimonial-right {
    align-self: center;
}
.testimonial-left {
    height: 100px;
    width: auto;
	border: 2px solid #ffab00;
    border-radius: 50%;
}

.testimonial-left img {
    width: auto;
    height: 100%;
    align-self: center;
    border-radius: 50%;
}
.testimonials-wrapper {
    padding: 100px 0;
}
#owl-demo-03 .owl-prev .fa-chevron-circle-left,
#owl-demo-03 .owl-next .fa-chevron-circle-right {
    color: #ff9900;
}
.testimonial-right ul li {
    list-style: none;
}

.testimonial-right ul {
    padding-left: 10px;
    border-bottom: 1px solid #ffab00;
    padding-bottom: 10px;
}
.testimonial-writeup {
    padding: 20px;
    text-align: justify;
}
.testimonial-writeup p::first-letter {
	color: #ffab00;
	font-size: 1.5em;
}
span.help-block.form-error {
    color: #b12425;
    font-size: 1.2em;
}
textarea#contact_message {
    width: 100%;
}
input[type="submit"] {
    border: 1px solid;
    border-color: #201b21;
    border-radius: 3px;
    background: #201b21;
    color: rgba(255, 239, 239, 0.8);
    font-size: 12px;
    font-size: 1rem;
    line-height: 1;
    padding: 1em 2em 1em;
    text-transform: uppercase;
    align-self: center;
}
div#section08 {
    background: #7d5503;
    padding: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.8em;
}
div#section08 a {
    color: #ffffff;
}
.contactus-wrapper {
    padding: 100px 0;
    background: #4c3403;
    color: #ffffff;
}


/*-- Media Queries start --*/
@media (max-width: 575px) {

#owl-demo .item img {
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: right;
}
button.navbar-toggler {
    border: 2px solid #444444;
    background: #dddddd;
    margin-right: 5%;
}

span.navbar-toggler-icon {
    background: url(../img/menu-bars.png) no-repeat;
    background-size: contain;
}
nav.navbar.navbar-expand-md.fixed-top {
    background: #ffffff;
}
ul.navbar-nav {
    overflow-y: scroll;
    height: 100vh;
}
h2.section-heading {
    font-size: 1.5em;
}
.vr-education-sec-01, .vr-education-sec-03 {
    flex-direction: column;
}
.vr-education-sec-02,.vr-education-sec-04 {
    flex-direction: column;
    text-align: left;
}
.vr-education-sec-01 .vr-education-right, .vr-education-sec-03 .vr-education-right,
.vr-education-sec-02 .vr-education-right, .vr-education-sec-04 .vr-education-right {
    width: 100%;
    left: 0;
}
.vr-education-sec-01 .vr-education-left, .vr-education-sec-03 .vr-education-left,
.vr-education-sec-02 .vr-education-left, .vr-education-sec-04 .vr-education-left {
    width: 100%;
}
.testimonial-left {
    height: 104px;
    width: 100px;
    border: 2px solid #ffab00;
    border-radius: 50%;
    align-self: center;
}
.testimonial-right {
    text-align: center;
}
.testimonial-left img {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 50%;
}
.testimonial-left {
    height: 104px;
    width: 100px;
    border: 2px solid #ffab00;
    border-radius: 50%;
    align-self: center;
}
.testimonial-person {
    flex-direction: column;
}
.contactus-wrapper {
    padding: 50px 20px;
}
.company-info-wrapper {
    margin-bottom: 20px;
}
.vr-education-sec-01 .vr-education-right:after, .vr-education-sec-03 .vr-education-right:after {
    display: none;
}
.icon-section {
    margin-bottom: 20px;
}
.Aboutwrapper,
.Company-wrapper,
.partners-wrapper,
.vr-education-wrapper {
    padding: 50px 0;
}
h2.section-heading:after, h2.section-heading:before {
    display: none;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

#owl-demo .item img {
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: right;
}
button.navbar-toggler {
    border: 2px solid #444444;
    background: #dddddd;
    margin-right: 5%;
}

span.navbar-toggler-icon {
    background: url(../img/menu-bars.png) no-repeat;
    background-size: contain;
}
nav.navbar.navbar-expand-md.fixed-top {
    background: #ffffff;
}
ul.navbar-nav {
    overflow-y: scroll;
    height: 100vh;
}
h2.section-heading {
    font-size: 1.5em;
}
.vr-education-sec-01, .vr-education-sec-03 {
    flex-direction: column;
}
.vr-education-sec-02,.vr-education-sec-04 {
    flex-direction: column;
    text-align: left;
}
.vr-education-sec-01 .vr-education-right, .vr-education-sec-03 .vr-education-right,
.vr-education-sec-02 .vr-education-right, .vr-education-sec-04 .vr-education-right {
    width: 100%;
    left: 0;
}
.vr-education-sec-01 .vr-education-left, .vr-education-sec-03 .vr-education-left,
.vr-education-sec-02 .vr-education-left, .vr-education-sec-04 .vr-education-left {
    width: 100%;
}
.testimonial-left {
    height: 104px;
    width: 100px;
    border: 2px solid #ffab00;
    border-radius: 50%;
    align-self: center;
}
.testimonial-right {
    text-align: center;
}
.testimonial-left img {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 50%;
}
.testimonial-left {
    height: 104px;
    width: 100px;
    border: 2px solid #ffab00;
    border-radius: 50%;
    align-self: center;
}
.testimonial-person {
    flex-direction: column;
}
.contactus-wrapper {
    padding: 50px 20px;
}
.company-info-wrapper {
    margin-bottom: 20px;
}
.vr-education-sec-01 .vr-education-right:after, .vr-education-sec-03 .vr-education-right:after {
    display: none;
}
.icon-section {
    margin-bottom: 20px;
}
.Aboutwrapper,
.Company-wrapper,
.partners-wrapper,
.vr-education-wrapper {
    padding: 50px 0;
}
h2.section-heading:after, h2.section-heading:before {
    display: none;
}

}

/*-- Media Queries end --*/